DATABASE_URL=postgresql://postgres:AVugoTonWuhCvYvrGtAhOuWTvYToCFEB@gondola.proxy.rlwy.net:12330/railway
CLOUDINARY_CLOUD_NAME=dat69lhwr
CLOUDINARY_API_KEY=526177738893971
CLOUDINARY_API_SECRET=5afCvEC82uI_44zwNNz7zYD745s